

body{
text-align: left;
background-color: #223843;
/*
This creates a background of the selected image.
The no-repeat makes it so the image does not repeat to fill the empty space.
This creates a banner background when coupled with the fact the background-color is also changed.
*/
background-image: url("river.jpg") ;
background-repeat: no-repeat;
border-radius: 10px;
}

h2{
  /*
  The variable mmrText is created using @font-face later down the page.
  */
  font-family: mmrText;
  color: #413C58 ;
  font-size: 30px;
}

p{
  /*
  This changes all <p> to have these styles.
  This applies to all pages.
  */
  font-size: 20px;
  font-family: mmrText;
  color: #413C58 ;
}

@font-face {
  /*
  This changes the font to a font found in the specifed directory.
  This font is used throughout the website.
  */
    font-family: mmrText;
    src: url(mmrtext.ttf);
}

#firstText{
  /*
  I've made all containers that house text this background colour to make
  the pages seem more connected.
  */
  background-color: #D6EBE5;
  width:auto;
  height:auto;
  /*
  Width:auto means that the width will change depending on whats needed
  for the screen size.
  */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding:40px;
}

#secondaryText{
background-color: #D6EBE5;
width: auto;
padding:40px;
height: auto;
margin-top:50px;
margin-right:auto;
margin-left: auto;
margin-bottom: 20px;
}

#tertiaryText{
  background-color: #D6EBE5;
  height: auto;
  width:auto;
  padding:25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#picCard{
  margin-top:150px;
  margin-bottom:150px;
  margin-right: auto;
  margin-left: auto;
}

#aboutText{
background-color: #D6EBE5;
width: auto;
padding:25px;
height: auto;
margin-top:auto;
margin-right: auto;
margin-left: auto;
border-radius: 10px;
}
