---
colour: 9D1313;
---

h1{
font-family:Arial;
color: #black;
}

body{
text-align: left;
background-color: #5DEEAB;
}

p{
  color: black ;
  font-size: 20px;
}

#something{
  height:675px;
  width: 100%;
}

#pageImage{
  background-image: url("river.jpg") ;
  background-repeat: no-repeat;
}

#secondaryText{
margin:50px;
width:50%
}

#initialText{
  margin-left:50px;
  margin-top:50px;
  border-radius: 5px;
  width: 100%;
  padding:25px;
  text-align:left;
  background-color: #E7E7E7;
}

#tertiaryText{
  width:500px;
}
